<html>
<div id="particles-js">
  <div class="container">
    <div class="row top">
      <div class="twelve column">
        <div class="logo"></div>
        <h1>Purple Tiger</h1>
        <h2>Capstone Porject</h2>
      </div>
    </div>
        <h1>Welcome to the Purple Tiger's Capstone Project (PTCP)! Click 'Chat' to get started. </h1>
        <div><a href="{{ host }}about">Chat.</a></div>
        <p>{% if msg %} {{ msg }} {% endif %}</p>

      <div class="one-half column">
        <div class="posts pulled">
          <h1>Miscallaneous</h1>
          <ul><li><a href="http://emilyvidaurri1223.pythonanywhere.com/ourmission" target="_blank" rel="noopener noreferrer">Our Mission</a></li><li><a href="https://www.j-w-v.com/writing/index.php/hero-images-20-free-places-to-find-them" target="_blank" rel="noopener noreferrer">Gallery (what to put here?)</a>
          </li><li><a href="http://emilyvidaurri1223.pythonanywhere.com/contactus.html" target="_blank" rel="noopener noreferrer">Contact Us </a></li>

      </div>
    </div>
  </div>

<div class="container ">
  <div class="footer">
  <p>Made using the awesome <a href="https://github.com/VincentGarreau/particles.js/">Particles.js</a>, <a href="http://cpv2api.com/">Codepen V2 API</a> & <a href="http://getskeleton.com/">Skeleton.css</a></p> </div></div>
  </div>
  </html>