<link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='homepage.js') }}">
        <head>
        <title>PTCP Website: Home</title>
    </head>
<div id="particles-js">
  <div class="container">
    <div class="row top">
      <div class="twelve column">
        <div class="logo">PTCP</div>
        <h1>Purple Tigers</h1>
        <h2> Capstone Project</h2>
      </div>
    </div>

    <div class="row">
      <div class="one-half column">
        <div class="pens pulled">
          <h1>Thank you for visiting our site! Click 'Chat' to get started.</h1>
          <ul><li><a target="_blank" rel="noopener noreferrer" href="/about">Chat.</a></li>
        </div>
      </div>

      <div class="one-half column">
        <div class="posts pulled">


        <h1>About Us</h1>
       <ul><li><a href="/ourmission" target="_blank" rel="noopener noreferrer">Our Mission<span class="new"></span></a></li>


        </div>

      </div>
    </div>
  </div>

<div class="container ">
  <div class="footer">

  <p>Contact us here: <a href="mailto:purpletigerco@gmail.com">purpletigerco@gmail.com</a> </div></div>
  </div>

