<html>
    <head>
        <title>HI Motherbiscuits</title>
    </head>
    <body>
        <div id="progress"></div>

<div class="center">
  <div id="register">

    <i id="progressButton" class="ion-android-arrow-forward next"></i>

    <div id="inputContainer">
      <input id="inputField" required autofocus />
      <label id="inputLabel"></label>
      <div id="inputProgress"></div>
    </div>

  </div>
</div>

        <h1>Welcome to My Flask Site!</h1>
        <div><a href="{{ host }}about">About</a></div>
        <p>{% if msg %} {{ msg }} {% endif %}</p>
    </body>
</html>
